.grid-container {
    display: grid;
  grid-template-columns: repeat(6, minmax(100px, 1fr)); 
  grid-gap: 20px; 
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #050505;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.pokemon:hover {
  background-color: #e0e0e0;
}

.pokemon h3 {
  margin: 5px 0;
  text-transform: capitalize;
}

.pokemon img {
  width: 100%; 
  height: auto;
}

.pokemon ul {
  list-style-type: none; /* Remove bullet points from <ul> */
  padding: 0;
  margin: 0;
}

.pokemon li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pokemon li img {
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
}