.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr)); 
  grid-gap: 10px; 
  padding: 10px;
  margin-top: 40px;
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #050505;
  margin-top: 30%;
  border-radius: 1rem;
  cursor: pointer;
  width: 100%;
  color: white;
}

.pokemon:hover {
  background-color: #e0e0e0;
}

.pokemon h3 {
  margin: 5px 0;
  text-transform: capitalize;
  color: white;
}

.pokemon img {
  width: 100%; 
  height: auto;
}

.pokemon-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8%;
  padding: 6rem;
  border-radius: 1rem;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  color: white;
  

}

/* .pokemon-details:hover {
  background-color: rgba(224, 224, 224, 0.2); 
} */

.pokemon-details h2 {
  margin: 5px 0;
  text-transform: capitalize;
  color: white;  
}

.pokemon-details img {
  width: 50%;
  height: auto;
  max-width: 200%; 
  max-height: 200%; 
}

.pokemon-details-text{
  font-size: 100%;

}


.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: pink;
  padding: 10%;
}

.filterform{
  font-size: 110%;
  padding: 5px 10px;

}

.pokedexbutton {
  font-size: 150%;
  padding: 5px 10px;
  margin-top: 2%;
}

.logo {
  width: 100%; 
  height: auto; 
}

.pika{
  padding:10px;
}

.type{
  text-transform: capitalize;
}

.pokemon:hover {
  background-color: rgb(173, 216, 230, 0.2);
}

.grid-container-species {
  /* display: grid; */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
  grid-gap: 20px; 
  padding: 10px;
  display: flex;
  justify-content: center;

}

.evolution-image {
  width: auto !important;
  height: 120% !important;
  text-align: center !important;
}

.h2Evo{
  text-decoration: underline !important;
  text-align: center !important;
  padding: 5%;
  width: 100%;

}

.buttonforHome {
  position: fixed;
  top: 10px;
  left: 10px;
}

.loadingPikachu{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 800rem;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom, #ff0000 40%, #050505 55%, #ffffff 100%); 
  padding: 10px;
  z-index: 999;
}

.navlogo {
  cursor: grabbing;
  max-width: 200px; 
  height: auto;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.navlogopokedex {
  cursor: grabbing;
  max-width: 200px; 
  height: auto;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.navbar .navlogo {
  margin-left: 19%;
}

.navbar .navlogopokedex {
  margin-left: 0;
}


.navlogo2{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grabbing;
  width: 100px;
  height: auto;
  border: none;
  background: transparent; 
  padding: 0; 
  margin: 0; 

}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
  .navlogo,
  .navlogopokedex {
    max-width: 150px;
  }

  .navbar .navlogo {
    margin-left: 15%;
  }
}


@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
  .navlogo,
  .navlogopokedex {
    max-width: 120px;
  }

  .navbar .navlogo {
    margin-left: 12%;
  }
}

