.grid-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr)); 
  grid-gap: 20px; 
  padding: 10px;
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #050505;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  color: white;
}

.pokemon:hover {
  background-color: #e0e0e0;
}

.pokemon h3 {
  margin: 5px 0;
  text-transform: capitalize;
  color: white;
}

.pokemon img {
  width: 100%; 
  height: auto;
}

.pokemon-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  color: white;
  

}

.pokemon-details:hover {
  background-color: rgba(224, 224, 224, 0.2); 
}

.pokemon-details h2 {
  margin: 5px 0;
  text-transform: capitalize;
  color: white;  
}

.pokemon-details img {
  width: 50%;
  height: auto;
  max-width: 200%; 
  max-height: 200%; 
}

.pokemon-details-text{
  font-size: 100%;

}


.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: pink;
  padding: 10%;
}

.logo {
  width: 100%; 
  height: auto; 
}

.pika{
  padding:10px;
}

.type{
  text-transform: capitalize;
}

.pokemon:hover {
  background-color: rgb(173, 216, 230, 0.2);
}

.grid-container-species {
  /* display: grid; */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
  grid-gap: 20px; 
  padding: 10px;
  display: flex;
  justify-content: center;

}

.evolution-image {
  width: auto!important;
  height: auto !important;
  text-align: center !important;
}

.h2Evo{
  text-decoration: underline !important;
  text-align: center !important;
  padding: 5%;
  width: 100%;

}

.buttonforHome {
  position: fixed;
  top: 10px;
  left: 10px;
}

.loadingPikachu{
  display: flex;
  align-items: center;
  justify-content: center;
}