.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .logo {
    width: 100%; 
    height: auto; 
  }
  
  .search {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .pokemon-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr)); 
    grid-gap: 10px; 
    padding: 10px;
    margin-top: 40px;
  }
  
  .pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #050505;
    margin: 10px;
    border-radius: 1rem;
    cursor: pointer;
    width: 100%;
    color: white;
  }
  
  .pokemon:hover {
    background-color: #e0e0e0;
  }
  
  .pokemon h3 {
    margin: 5px 0;
    text-transform: capitalize;
    color: white;
  }
  
  .pokemon img {
    width: 100%;
    height: auto;
  }